.annotation {
  border: 1px solid black;
  padding: 8px;
  display: flex;
  flex-direction: column;
}

.image {
  width: 200px;
}

.dragHandle {
  cursor: grab;
}

.header {
  display: flex;
  justify-content: space-between;
}

.content {
  display: flex;
  flex-direction: column;
}