<app-annotation-editor 
  *ngIf="newAnnotationData"
  [annotationData]="newAnnotationData"
  (annotationSaved)="onAnnotationAdded($event)"
></app-annotation-editor>

<div class="documentView" (dragover)="$event.preventDefault()">
  <div class="header">
    <h1>{{ document().name }}</h1>
    <app-zoom *ngIf="isLoaded" class="zoom spacer" [(zoom)]="zoom" (zoomChange)="onZoomChange()"></app-zoom>
    <button class="spacer" (click)="onSave()">Save</button>
  </div>

  <div class="pagesView">
    @for (page of document().pages; track page.imageUrl) {
      <div class="imageContainer">
        <app-image
          [page]="page"
          [zoom]="zoom"
          (annotationCreated)="createAnnotation($event, page.imageUrl)"
          (imageLoaded)="onImageLoad(page.imageUrl)"
        ></app-image>

        @for (annotation of annotations.getPage(page.imageUrl); track $index) {
          <div
            class="annotation"
            [style.left.px]="annotation.x"
            [style.top.px]="annotation.y"
          >
            <app-annotation
              [annotationData]="annotation"
              [appAnnotationDrag]="annotation"
              (annotationDeleted)="onAnnotationDeleted(annotation)"
            ></app-annotation>
          </div>
        }
      </div>
    }  
  </div>
</div>
